@model SistemaEducativo.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar Usuario";
    var TipoDocumento = ViewData["TipoDocumento"] as List<SistemaEducativo.Models.Constantes.ObjTipoDocumento>;
    var Departamentos = ViewData["Departamento"] as List<SistemaEducativo.Models.General.ObDepartamento>;
    var NivelEducativo = ViewData["NivelEducativo"] as List<SistemaEducativo.Models.Constantes.ObjNivelDocente>;
    var CargoBase = ViewData["CargoBase"] as List<SistemaEducativo.Models.Configuracion.CargoBaseViewModel>;
    var municipios = ViewData["Municipio"] as List<SistemaEducativo.Models.General.ObjMunicipio>;
    var municipiosDomicilio = municipios.Where(m => m.CodDepartamento.Equals(Model.CodDepartamentoExpedicion)).ToList();
    var TipoVinculacion = ViewData["TipoVinculacion"] as List<SistemaEducativo.Models.Configuracion.TipoVinculacionViewModel>;
    var Zona = ViewData["Zona"] as List<SistemaEducativo.Models.Constantes.ObjZona>;
    var AreaDesempeno = ViewData["AreaDesempeno"] as List<SistemaEducativo.Models.Configuracion.AreaDesempenoViewModel>;
    var Instituciones = ViewData["InstitucionEducativa"] as List<SistemaEducativo.Models.General.InstitucionEducativaViewModel>;
    var Sedes = ViewData["Sede"] as List<SistemaEducativo.Models.General.SedeViewModel>;
    Sedes = Sedes.Where(m => m.IdInstitucionEducativa == Model.IdInstitucionEducativa).ToList();
    var GradoEscalafon = ViewData["GradoEscalafon"] as List<SistemaEducativo.Models.Configuracion.GradoEscalafonViewModel>;
}
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "needs-validation", role = "form" }))
{
    <div class="row">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="m-0 text-dark">@ViewBag.Title.</h1>
                </div>
                <div class="card-body">
                    <h4>Cree una cuenta nueva.</h4>
                    <hr />
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="callout callout-info">
                        <h5>Nota:</h5>
                        <p>Todos los campos con Asterisco son obligatorios</p>
                    </div>
                    <h5>Datos Generales</h5>
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            @Html.LabelFor(m => m.TipoDocumento, new { @class = "control-label" })<span>&#42;</span>
                            @Html.DropDownListFor(m => m.TipoDocumento, new SelectList(TipoDocumento, "Tipo", "Desc_Tipo"), new { @class = "selectpicker form-control", @title = "Seleccione una opción"})
                        </div>
                        <div class="col col-md-6 col-12">
                            @Html.LabelFor(m => m.Documento, new { @class = "control-label" })<span>&#42;</span>
                            @Html.TextBoxFor(m => m.Documento, new { @class = "form-control", @onchange = "ContrasenaPredeterminado();"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            @Html.LabelFor(m => m.CodDepartamentoExpedicion, new { @class = "control-label" })<span>&#42;</span>
                            @Html.DropDownListFor(m => m.CodDepartamentoExpedicion, new SelectList(Departamentos, "CodDepartamento", "NomDepartamento"), new { @class = "selectpicker form-control", @title = "Seleccione una opción", @onchange = "CargarMunicipioExpedicion(this);" })
                        </div>
                        <div class="col col-md-6 col-12">
                            @Html.LabelFor(m => m.CodMunicipioExpedicion, new { @class = "control-label" })<span>&#42;</span>
                            @Html.DropDownListFor(m => m.CodMunicipioExpedicion, new SelectList(municipiosDomicilio, "CodMunicipio", "NomMunicipio"), new { @class = "form-control", @title = "Seleccione una opción" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PrimerNombre, new { @class = "control-label" })<span>&#42;</span>
                                @Html.TextBoxFor(m => m.PrimerNombre, new { @class = "form-control", @oninput = "Mayuscula(this);" })
                            </div>
                        </div>
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SegundoNombre, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.SegundoNombre, new { @class = "form-control", @oninput = "Mayuscula(this);" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.PrimerApellido, new { @class = "control-label" })<span>&#42;</span>
                                @Html.TextBoxFor(m => m.PrimerApellido, new { @class = "form-control", @oninput = "Mayuscula(this);", @onchange = "ContrasenaPredeterminado();" })
                            </div>
                        </div>
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SegundoApellido, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.SegundoApellido, new { @class = "form-control", @oninput = "Mayuscula(this);" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FechaNacimiento, new { @class = "control-label" })<span>&#42;</span>
                                <div class="input-group date" id="FechaNacimiento" data-target-input="nearest">
                                    <input type="date" id="CmpFechaNacimiento" name="FechaNacimiento" class="form-control" min="1960-01-01" value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" required>
                                </div>
                                <small id="CmpIdSedeHelp">Ingrese su Fecha Nacimiento (DD/MM/AAAA)</small>
                            </div>
                        </div>
                    </div>
                    <h5>Vinculación</h5>
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FechaVinculacion, new { @class = "control-label" })<span>&#42;</span>
                                <div class="input-group date" id="FechaNacimiento" data-target-input="nearest">
                                    <input type="date" id="CmpFechaVinculacion" name="FechaVinculacion" class="form-control" min="1960-01-01" value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" required>
                                </div>
                                <small id="CmpIdSedeHelp">Ingrese su Fecha Nacimiento (DD/MM/AAAA)</small>
                            </div>
                        </div>
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.idTipoVinculacion, new { @class = "control-label" })<span>&#42;</span>
                                @Html.DropDownListFor(m => m.idTipoVinculacion, new SelectList(TipoVinculacion, "Id", "Nombre"), new { @class = "selectpicker form-control", @title = "Seleccione una opción" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ZonaAtender, new { @class = "control-label" })<span>&#42;</span>
                                @Html.DropDownListFor(m => m.ZonaAtender, new SelectList(Zona, "Zona", "Desc_Zona"), new { @class = "selectpicker form-control", @title = "Seleccione una opción" })
                            </div>
                        </div>
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CargoBase, new { @class = "control-label" })<span>&#42;</span> pendiente cargue lista
                                @Html.DropDownListFor(m => m.CargoBase, new SelectList(CargoBase, "Id", "Nombre"), new { @class = "selectpicker form-control", @title = "Seleccione una opción" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Nivel, new { @class = "control-label" })<span>&#42;</span>
                                @Html.DropDownListFor(m => m.Nivel, new SelectList(NivelEducativo, "Nivel", "Nivel"), new { @class = "selectpicker form-control", @title = "Seleccione una opción" })
                            </div>
                        </div>
                        <div class="col col-12 col-md-6">
                            <div class="form-group">

                                @Html.LabelFor(m => m.AreaDesempeno, new { @class = "control-label" })<span>&#42;</span> pendiente cargue lista
                                <select multiple class="selectpicker form-control" name="AreaDesempeno" id="number-multiple" data-actions-box="true" data-virtual-scroll="false" title = "Seleccione una opción">
                                    @{ 
                                        foreach(var Registro in AreaDesempeno)
                                        {
                                         <option value=@Registro.Id>@Registro.Nombre</option>
                                        }
                                    }
                                </select>
                                @*@Html.DropDownListFor(m => m.AreaDesempeno, new SelectList(TipoDocumento, "Tipo", "Desc_Tipo"), new { @class = "selectpicker form-control", @multiple = "multiple", @data-actions-box = "true" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.IdInstitucionEducativa, new { @class = "control-label" })<span>&#42;</span>
                                @Html.DropDownListFor(m => m.IdInstitucionEducativa, new SelectList(Instituciones, "Id", "Nombre"), new { @class = "selectpicker form-control", @title = "Seleccione una opción", @onchange = "CargarSede(this);" })
                            </div>
                        </div>
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.IdSede, new { @class = "control-label" })<span>&#42;</span>
                                @Html.DropDownListFor(m => m.IdSede, new SelectList(Sedes, "Id", "Nombre"), new { @class = "form-control", @title = "Seleccione una opción" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.GradoEscalafon, new { @class = "control-label" })<span>&#42;</span>
                                @Html.DropDownListFor(m => m.GradoEscalafon, new SelectList(GradoEscalafon, "Id", "Nombre"), new { @class = "selectpicker form-control", @title = "Seleccione una opción"})
                            </div>
                        </div>
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Titulo, new { @class = "control-label" })<span>&#42;</span>
                                @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control", @oninput = "Mayuscula(this);" })
                            </div>
                        </div>
                    </div>
                    <h5>Usuario</h5>
                    <div class="row">
                        <div class="col col-md-12 col-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })<span>&#42;</span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })<span>&#42;</span>
                                <input id="cmpPassword" name="Password" type="password" class="form-control" readonly />
                                @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
                            </div>
                        </div>
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="cmpPassword">Contraseña</label>
                                <input id="cmpPasswordConfirm" type="text" class="form-control" readonly />
                                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.IdRol, new { @class = "control-label" })<span>&#42;</span>
                                <select id="CmpIdRol" name="IdRol" class="form-control" required>
                                    <option selected disabled>Seleccione una opción</option>
                                    @{
                                        var Roles = ViewData["Rol"] as List<SistemaEducativo.Models.Configuracion.RolViewModel>;
                                        foreach (var Item in Roles)
                                        {
                                            if (Model.IdRol == Item.Id)
                                            {
                                                <option value=@Item.Id selected> @Item.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value=@Item.Id> @Item.Nombre</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-success" value="Registrarse" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<section Script>
    <script src="~/Scripts/Account/Register.js"></script>
</section>